<header>
  <h1>Práctica 2: Piano</h1>
</header>

<div id="piano">
  <div class="blanca" onMouseOver="C1()"></div>
  <div class="negra" onMouseOver="C1s()"></div>
  <div class="blanca" onMouseOver="D1()"></div>
  <div class="negra" onMouseOver="D1s()"></div>
  <div class="blanca" onMouseOver="E1()"></div>
  <div class="blanca" onMouseOver="F1()"></div>
  <div class="negra" onMouseOver="F1s()"></div>
  <div class="blanca" onMouseOver="G1()"></div>
  <div class="negra" onMouseOver="G1s()"></div>
  <div class="blanca" onMouseOver="A1()"></div>
  <div class="negra" onMouseOver="A1s()"></div>
  <div class="blanca" onMouseOver="B1()"></div>
  <div class="blanca" onMouseOver="C2()"></div>
</div>

<script src="js/index.js"></script>
