<!DOCTYPE html>
<html >
  <head>
    
    <meta charset="UTF-8">
    <title>Proyecto DSI 15/16</title>
    <!-- MAterialize minified CSS -->
    <link rel="stylesheet" href="./Materialize/dist/css/materialize.min.css">
    <!-- Icons - Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- JQuery -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <!-- Nuestro CSS -->
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>

    <%- body %>
    <!-- Nuestro Cliente JavaScript -->
    <script src="js/index.js"></script>
    <!-- Materialize minified JavaScript -->
    <script src="./Materialize/dist/js/materialize.min.js"></script>
    
  </body>
</html>
