<nav>
  <div class="nav-wrapper">
    <a href="/" id="logo" class="brand-logo">Proyecto DSI 15-16: Piano</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://github.com/Losnen/Proyecto-DSI.git"><i class="fa fa-github-square"></i></a></li>
    </ul>
  </div>
</nav>

<div id="relleno2"></div>

<div class="container">
  <div class="row">
    <div class="col s12">
    <div class="col s6 offset-s4">
       <button class="waves-effect waves-light btn" id="mostrar_punt">Mostrar puntuaciones</button>
    </div>
    <div class="col s4 offset-s4">
      <table id ="tt" class="centered esconder" >
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Puntuación</th>
          </tr>
        </thead>

        <tbody id="tabla_p">
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--
<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Desarrollo de Sistemas Informáticos</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Enlaces</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://losnen.github.io/">Página personal de Samuel</a></li>
          <li><a class="grey-text text-lighten-3" href="http://joshuape.github.io/">Página personal de Joshua</a></li>
          <li><a class="grey-text text-lighten-3" href="https://casianorodriguezleon.gitbooks.io/pl1516/content/proyectos/proyectodsi.html">Gitbook de Casiano</a></li>
          <li><a class="grey-text text-lighten-3" href="https://campusvirtual.ull.es/1516/course/view.php?id=144">Campus Virtual</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div id="copy" class="s12">
          © 2016
        </div>
      </div>
    </div>
  </div>
</footer>-->

